.home {
	background-color: $tangerine;

	.site-header {
		padding-bottom: 0;
	}

	.site-main {
		margin-bottom: 0;
	}

	.header-image {
		display: none;
		margin-bottom: -0.875em;
	}
}

/**
 * 14.1 - >= 710px
 */

@media screen and (min-width: 44.375em) {
	.home {
		.header-image {
			display: block;
			margin-bottom: -1.3125em;
		}
	}
}

/**
 * 14.3 - >= 910px
 */

@media screen and (min-width: 56.875em) {
	.home {
		.header-image {
			margin-bottom: -1.75em;
		}
	}
}