// .comments-title {
// 	border-color: $cardinal !important;	
// }

.comment-reply-title {
	border-color: $golden-yellow !important;
}

.search {
	.page-header {
		border-color: $tangerine !important;
	}
}

// .recent_entries, .single {
// 	.page-header {
// 		border-color: #e3000f !important;
// 	}
// }

// .recent_comments {
// 	.page-header {
// 		border-color: #b71a49 !important;
// 	}
// }

.archive {
	.page-header {
		border-color: $venetian-red !important;
	}
}

.categories {
	.page-header {
		border-color: #009bb4 !important;
	}
}

.meta {
	.page-header {
		border-color: $bahia !important;
	}
}