.comments-title {
	border-color: $bahia !important;	
}

.comment-reply-title {
	border-color: $golden-yellow !important;
}

.search {
	.page-header {
		border-color: $tangerine !important;
	}
}

.archive {
	.page-header {
		border-color: $venetian-red !important;
	}
}