.widget_search {
	border-color: $tangerine !important;
}

.widget_recent_entries {
	border-color: $venetian-red !important;
}

.widget_recent_comments {
	border-color: $cardinal !important;
}

.widget_archive {
	border-color: $cerulean !important;
}

.widget_categories {
	border-color: $bondi-blue !important;
}

.widget_mc4wp_form_widget, .widget_meta {
	border-color: $bahia !important;
}