/**
 * MEDIA QUERY
 **/
/**
 * COLORS
 **/
/**
 * GENERAL
 */
/**
 * BASE
 */
@import url("https://fonts.googleapis.com/css?family=Oldenburg");
/**
 * LAYOUT
 */
/* line 1, ../../src/rossaforbes/sass/layout/_layout.scss */
.comments-title {
  border-color: #94c11c !important;
}

/* line 5, ../../src/rossaforbes/sass/layout/_layout.scss */
.comment-reply-title {
  border-color: #ffdd00 !important;
}

/* line 10, ../../src/rossaforbes/sass/layout/_layout.scss */
.search .page-header {
  border-color: #f39100 !important;
}

/* line 16, ../../src/rossaforbes/sass/layout/_layout.scss */
.archive .page-header {
  border-color: #e3000f !important;
}

/* line 1, ../../src/rossaforbes/sass/layout/_home.scss */
.home {
  background-color: #f39100;
}
/* line 4, ../../src/rossaforbes/sass/layout/_home.scss */
.home .site-header {
  padding-bottom: 0;
}
/* line 8, ../../src/rossaforbes/sass/layout/_home.scss */
.home .site-main {
  margin-bottom: 0;
}
/* line 12, ../../src/rossaforbes/sass/layout/_home.scss */
.home .header-image {
  display: none;
  margin-bottom: -0.875em;
}

/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 44.375em) {
  /* line 24, ../../src/rossaforbes/sass/layout/_home.scss */
  .home .header-image {
    display: block;
    margin-bottom: -1.3125em;
  }
}
/**
 * 14.3 - >= 910px
 */
@media screen and (min-width: 56.875em) {
  /* line 37, ../../src/rossaforbes/sass/layout/_home.scss */
  .home .header-image {
    margin-bottom: -1.75em;
  }
}
/* line 2, ../../src/rossaforbes/sass/layout/_frontpage.scss */
.front-page-wrapper .content-block {
  margin-top: 0;
  padding-top: calc(3.9375em / 2);
  padding-bottom: calc(3.9375em / 2);
}
/* line 7, ../../src/rossaforbes/sass/layout/_frontpage.scss */
.front-page-wrapper .content-block:after {
  content: '';
  clear: both;
  display: block;
}
/* line 13, ../../src/rossaforbes/sass/layout/_frontpage.scss */
.front-page-wrapper .content-block:nth-child(1) {
  background-color: rgba(0, 107, 148, 0.1);
}
/* line 17, ../../src/rossaforbes/sass/layout/_frontpage.scss */
.front-page-wrapper .content-block:nth-child(2) {
  background-color: rgba(227, 0, 15, 0.1);
}
/* line 21, ../../src/rossaforbes/sass/layout/_frontpage.scss */
.front-page-wrapper .content-block:last-child {
  margin-bottom: 3.9375em;
}
/* line 27, ../../src/rossaforbes/sass/layout/_frontpage.scss */
.front-page-wrapper .image-is-right .post-thumbnail {
  margin-top: 1.75em;
}

/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 44.375em) {
  /* line 39, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .content-area {
    width: 100%;
    float: none;
    margin-top: -3.9375em;
    padding-top: 3.9375em;
  }
  /* line 46, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .sidebar {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  /* line 52, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .post-thumbnail, .front-page-wrapper .entry-content {
    float: left;
  }
  /* line 56, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .post-thumbnail {
    width: 25%;
  }
  /* line 60, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .entry-content {
    width: 75%;
  }
  /* line 65, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .image-is-left .post-thumbnail {
    padding-right: 4.5455%;
  }
  /* line 70, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .image-is-left .entry-content:after {
    display: block;
    clear: both;
    content: '';
  }
  /* line 79, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .image-is-right .post-thumbnail {
    margin-top: 0;
    padding-left: 4.5455%;
  }
  /* line 83, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .image-is-right .post-thumbnail:after {
    display: block;
    clear: both;
    content: '';
  }
  /* line 91, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .search-form {
    max-width: 460px;
  }
}
/**
 * Between 14.1 - >= 710px and 14.3 - >= 910px
 */
@media screen and (min-width: 44.375em) and (max-width: 56.875em) {
  /* line 103, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .content-block {
    padding-left: 0;
    padding-right: 0;
    padding-left: 7.6923%;
    padding-right: 7.6923%;
  }
  /* line 110, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .sidebar {
    padding-right: 7.6923%;
  }
  /* line 114, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .entry-header {
    margin-left: 0;
  }
  /* line 118, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .post-thumbnail, .front-page-wrapper .entry-content {
    margin-left: 0;
    margin-right: 0;
  }
}
/**
 * 14.3 - >= 910px
 */
@media screen and (min-width: 56.875em) {
  /* line 131, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .content-block {
    margin-left: -4.5455%;
    margin-right: -4.5455%;
    padding-left: 4.5455%;
    padding-right: 4.5455%;
    width: calc(100% + (4.5455% * 2));
  }
  /* line 139, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .post-thumbnail {
    width: calc(100% / 3);
  }
  /* line 143, ../../src/rossaforbes/sass/layout/_frontpage.scss */
  .front-page-wrapper .entry-content {
    width: calc(200% / 3);
  }
}
/**
 * MODULE
 */
/* line 1, ../../src/rossaforbes/sass/module/_header.scss */
.site-title {
  font-family: 'Oldenburg';
  font-size: 2rem;
  line-height: 1.45;
}
/* line 6, ../../src/rossaforbes/sass/module/_header.scss */
.site-title:first-letter {
  color: #006b94;
}

/* line 2, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n) {
  border-top-color: #f39100;
}
/* line 5, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n-1) {
  border-top-color: #e3000f;
}
/* line 8, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n-2) {
  border-top-color: #b71a49;
}
/* line 11, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n-3) {
  border-top-color: #006b94;
}
/* line 14, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n-4) {
  border-top-color: #009bb4;
}
/* line 17, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n-5) {
  border-top-color: #94c11c;
}
/* line 20, ../../src/rossaforbes/sass/module/_nav.scss */
.primary-menu > li:nth-child(7n-6) {
  border-top-color: #ffdd00;
}

/* line 1, ../../src/rossaforbes/sass/module/_widget.scss */
.widget_search {
  border-color: #f39100 !important;
}

/* line 5, ../../src/rossaforbes/sass/module/_widget.scss */
.widget_recent_entries {
  border-color: #e3000f !important;
}

/* line 9, ../../src/rossaforbes/sass/module/_widget.scss */
.widget_recent_comments {
  border-color: #b71a49 !important;
}

/* line 13, ../../src/rossaforbes/sass/module/_widget.scss */
.widget_archive {
  border-color: #006b94 !important;
}

/* line 17, ../../src/rossaforbes/sass/module/_widget.scss */
.widget_categories {
  border-color: #009bb4 !important;
}

/* line 21, ../../src/rossaforbes/sass/module/_widget.scss */
.widget_mc4wp_form_widget, .widget_meta {
  border-color: #94c11c !important;
}

/* line 1, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-wrapper {
  padding-left: 7.6923%;
  padding-right: 7.6923%;
  margin-top: 0.875em;
  margin-bottom: 30px;
}
/* line 7, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-wrapper:after {
  display: block;
  content: '';
  clear: both;
}

/* line 14, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-item {
  width: 100%;
  float: left;
  position: relative;
  color: #ffffff;
  padding: 20px;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 8pt;
}
/* line 23, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-item:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}
/* line 39, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-item:hover {
  color: #ffffff;
}
/* line 42, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-item:hover:before {
  opacity: .2;
}
/* line 47, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-item .icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: table;
}
/* line 56, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-item .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Genericons";
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  display: none;
  vertical-align: middle;
}

/* line 76, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-book {
  background-color: #009bb4;
}

/* line 80, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-blog {
  background-color: #b71a49;
}
/* line 83, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-blog:hover {
  background-color: #c5476d;
}
/* line 87, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-blog .icon:before {
  content: "\f413";
}

/* line 92, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-interview {
  background-color: #006b94;
}
/* line 95, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-interview:hover {
  background-color: #3288a9;
}
/* line 99, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-interview .icon:before {
  content: "\f106";
}

/* line 104, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-twitter {
  background-color: #94c11c;
}
/* line 107, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-twitter:hover {
  background-color: #a9cd49;
}
/* line 111, ../../src/rossaforbes/sass/module/_showcase.scss */
.showcase-twitter .icon:before {
  content: "\f202";
}

/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 44.375em) {
  /* line 121, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-wrapper {
    width: 100%;
    margin-top: 1.3125em;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 128, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-book {
    display: none;
  }
}
/**
 * 14.3 - >= 910px
 */
@media screen and (min-width: 56.875em) {
  /* line 138, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-wrapper {
    margin-top: 1.75em;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 144, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-item {
    width: calc(100% / 3);
    height: 200px;
  }
  /* line 150, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-item:hover .icon:before {
    display: table-cell;
  }

  /* line 159, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-blog:hover .icon {
    background-color: #c5476d;
  }

  /* line 167, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-interview:hover .icon {
    background-color: #3288a9;
  }

  /* line 175, ../../src/rossaforbes/sass/module/_showcase.scss */
  .showcase-twitter:hover .icon {
    background-color: #a9cd49;
  }
}

/*# sourceMappingURL=custom.css.map */
